%paddingboth{
    padding : {
        top:convertFont(100) ;
        bottom:convertFont(100) ;
    }
}
%paddingtop{
    padding : {
        top:convertFont(100) ;
    }
}
%paddingbottom{
    padding : {
        bottom:convertFont(100) ;
    }
}
%margin{
    margin : {
        top:convertFont(100) ;
        bottom:convertFont(100) ;
    }
}